<div id="home">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-6 bg-pic">

      </div>
      <div class="col-lg-6 no-background ">
        <h1>Welcome to the Mongo News Scraper</h1>
        <p>A news web scraper app designed to bring you the latest and greatest from a variety of sources.  Watch out for fake news, that stuff is hard to scrape off!</p>
      </div>
    </div>
  </div>
</div>
<div class="row">

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
