<div id="home">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-4 bg-pic">
      </div>
      <div class="col-lg-8 no-background ">
        <h1>Tech News Scraper</h1>
        <p class="subtitle">A technology web scraper app designed to bring you the latest and greatest in technical news.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
