
h1, h2, h3, h4, h5, p {
  font-family: 'News Cycle Bold', sans-serif;
  color : darkblue;
}

.header {
  background-color : darkblue;
  color : white;
}

body {
  margin: 0 auto;
  display: flex;
  min-height: 90vh;
  min-width: 100vh;
  flex-direction: column;
  background-color: white;
}

#home {
  background-image: url("https://news.unl.edu/sites/default/files/styles/large_aspect/public/media/stack-of-newspapers_1.jpg?itok=brkqzHbi");
}

#saved {
  background-image: url("https://modernismmodernity.org/sites/default/files/media/A_corridor_of_files_at_The_National_Archives.jpg");
  background-repeat: no-repeat;
  background-color:black;
}

p {
  margin: 5px;
}

#home {
  min-width: 100vh;
}

nav {
  background-color: darkblue;
  min-height: 5vh;
  min-width: 100vh;
}

.navbar-brand {
  margin: 0 25% 0 5px;
}

.nav-item {
  padding: 5px;
}

.bg-pic {
  background-repeat: no-repeat;
  background-size: 100% 90vh;
}

.no-background {
  background-image: url('../images/textured_paper.png');
  text-align: center;
  z-index: 1;
  min-width: 50vh;
  min-height: 90vh;
}

h1 {
  text-align: center;
  font-size: 65px;
  margin: 50px;
}

.subtitle {
  text-align: center;
  margin: 50px;
}

.article-btn {
  padding: 5px;
  margin: 5px;
}

.note-btn, .save-btn {
  margin: 0px;
}